html,
body {
  min-width: 1200px;
 /* min-height: 2416px;*/
  margin: 0;
  padding: 0;
}
body {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	font-weight: normal;
	font-family: Roboto, san-serif;
	/*background-size: 1200px auto;*/
	background-color: #849d8f; 
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container  {
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
 }

.main-header {
    margin-bottom: -20px; 
    height: 120px;
}
.logo-container {
    width: 150px;
    float: left;
}
.main-navigation {
    width: 670px;
    float: left;
    height: 74px;
}
.user-block {
    width: 267px;
    float: right;
    height: 74px;
}
.main-navigation li{
    display: inline;
    
}
.basket {
	float: right;
	display: inline-block;
}
.top {
	margin-bottom: 0px;
}
.bottom {
	margin-top: 0;
	width: 175px;
	float: right;
}
.slider{
	position: relative;
}
.slider-slides {
	width: 300%;
}
.slider-slides img {
    width: 647px;
    float: left;  
    margin-left: 250px;
    margin-top: 0px;
}
.slider-inner {
	overflow: hidden;
	margin-bottom: -110px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
background:#666;
}
#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);    
}
#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-900px);    
}
#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-1800px);    
}
.slider-controls {
	text-align: left;
	position: absolute;
	left: 0;
	bottom: -40px;
	width: 100%;
}
.slide-text {
	position: relative;
	top: 185px;
	left: 240px;
	display: inline-block;
	width: 670px;
	text-align: center;
	
}
.title-slide {
	position: absolute;
	font-family: Roboto, san-serif;
	font-size: 60px;
	color: white; 
	font-weight: bold;
	line-height: 61px;
}
.btn-banner {
    position: absolute;
    top: 480px;
    left: 50%;
}
.stocks {
    margin-bottom: 30px;
    padding: 0px 0px;
}
.stock-1 {
	float: left;
	height: 232px;
	width: 560px;
	margin-right: 10px;
}
.stock-2 {
	float: right;
	height: 232px;
	width: 560px;
	margin-right: 10px;
}

/*.tittle-stock {
	position: absolute;
	font-family: Roboto, san-serif;
	font-size: 35px;
	color: white; 
	font-weight: bold;
	line-height: 41px;
	display: inline-block;
	padding: 0;
}
.stock-info {
	position: absolute;
	font-family: Roboto, san-serif;
	font-size: 18px;
	color: white; 
	font-weight: bold;
	line-height: 22px;
	display: inline-block;
	width: 520px;
}
.btn-stock-1 {
	display: inline-block;
	position: absolute;
	top: 800px;
	left: 430px;
}*/
.product-list-tile{
	margin-bottom: 80px;
}
.product-tile {
	float: left;
	width: 277px;
	height: 334px;
	margin-right: 10px;
}
.product-tile:last-child {
	margin-right: 0;
}
.index-content {
	margin-bottom: 35px;
	padding: 0;
}
.index-content-left {
	float: left;
    width: 560px;
  	height: 220px;
}
.index-content-right {
 	float: right;
 	width: 560px;
    height: 220px;
}
.seo {
	width: 1146px;
	/*min-height: 311px;*/
}
.map {
	width: 100%;
	/*height: 430px;*/
	
}