/*стили для всех элементов*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: 0;
}

.button:active,
.button:focus {
    outline: none;
}

html, body {
    width: 100%;
}

body {
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.375;
    color: #ffffff;
    font-weight: 500;
}

.none {
    display: none;
}

.choice {
    display: block;
}

.popup-form.choice {
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}


h1,
.h1 {
    font-size: 60px;
    line-height: 1.006;
    font-weight: 900;
    color: #ffffff;
}

h2,
.h2 {
    font-size: 35px;
    line-height: 1.171;
    color: #ffffff;
    font-weight: 900;
}

h3,
h4,
.h3,
.h4,
.h4 a {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 6px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
    margin-top: 0;
    color: #323232;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 28px;
    padding-left: 28px;
}

/*кнопки и общие элементы*/

.btn {
    display: block;
    text-align: center;
}

.btn-transp {
    width: 93px;
    height: 32px;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 15px;
    text-decoration: none;
}

.search-block .btn-transp {
    width: 32px;
    border-radius: 50%;
}

.search-block .btn-transp::after {
    position: absolute;
    display: block;
    bottom: -10px;
    left: 0;
    content: '';
    width: 30px;
    height: 10px;
}

.btn-primary {
    display: block;
    width:189px;
    height: 45px;
    background: -webkit-linear-gradient(top, #f26743, #e74b36);
    background: linear-gradient(to bottom, #f26743, #e74b36);
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    font-size: 18px;
    line-height: 1.333;
    color: #ffffff;
    text-decoration: none;
    padding-top: 8px;
}

.btn-md {
    background: -webkit-linear-gradient(top, #f06643, #cb3a26);
    background: linear-gradient(to bottom, #f06643, #cb3a26);
    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
}

.btn-md:hover {
    background: -webkit-linear-gradient(top, #f58669, #ec6f5e);
    background: linear-gradient(to bottom, #f58669, #ec6f5e);
    box-shadow: 0 1px 2px #ac1000;
    cursor: pointer;
}

.btn-md:active {
    background: -webkit-linear-gradient(top, #d74632, #e1613e);
    background: linear-gradient(to bottom, #d74632, #e1613e);
    box-shadow: inset 0 2px 2px #942718;
}

.input-text {
    width: 368px;
    height: 44px;
    float: left;
    margin-top: 36px;
    margin-left: 22px;
    padding-left: 14px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.input-text:hover,
.input-area.input-text:hover {
    border: 2px solid #c7c6c5;
    padding-left: 13px;
}

.input-area.input-text:hover {
    padding-top: 8px;
    padding-left: 12px;
}

.input-text:focus,
.input-area.input-text:focus {
    border: 2px solid #8fbdec;
    padding-left: 13px;
    outline: #ffffff;
}

.input-area:hover,
.input-area.input-text:focus {
    padding-top: 8px;
    padding-left: 12px;
}


.fake-placeholder {
    position: absolute;
    left: 32px;
    font-size: 11px;
    line-height: 1.182;
    color: #999999;
}

.help-info {
    display: inline-block;
    vertical-align: baseline;
    width: 139px;
    min-height: 20px;
    margin-left: 139px;
    margin-top: 19px;
    font-size: 13px;
    line-height: 1.846;
}

.user-link {
    color: #323232;
}

.input-text:focus + .fake-placeholder,
.input-area:focus + .fake-placeholder {
    color: #5b9ddf;
}


/*блок header */
.main-header {
    position: relative;
    min-height: 120px;
    z-index: 10;
}

.logo-img {
    float: left;
    width: 162px;
    height: 64px;
    margin-left: -9px;
    margin-top: 12px;
}

.main-header-menu {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 25px;
    margin-top: 31px;
}

.main-header-menu a {
    font-size: 16px;
    line-height: 1.125;
    font-weight: bold;
    color: #ffffff;
}

.main-header-menu,
.main-header-list {
    position: relative;
    width: 374px;
    min-height: 18px;
    float: left;
}

.main-header-list .item{
    display: inline;
    margin-right: 23px;
}

li.item:last-child {
    float: right;
    margin-right: 26px;
}

.item .item-link,
.footer-menu-item a,
.sub-contacts,
.breadcrumbs-menu-item a {
    display: inline;
    vertical-align: baseline;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item.dropdown::after {
    position: absolute;
    display: block;
    bottom: -10px;
    left: 0;
    content: '';
    width: 70px;
    height: 10px;
}


/*блок выпадающего меню*/
.dropdown:hover,
.dropdown.current,
.dropdown.current:hover {
    display: inline;
    margin-right: 14px;
    float: left;
    margin-left: -14px;
    margin-top: -5px;
}

.dropdown:hover .dropdown-toggle,
.dropdown.current .dropdown-toggle,
.dropdown.current:hover .dropdown-toggle {
    display: block;
    width: 87px;
    min-height: 32px;
    background-color: rgba(248, 247, 244, 1);
    border-radius: 15px;
    text-decoration: none;
    color: #323232;
    text-align: center;
}

.dropdown.current .dropdown-toggle {
    background-color: #d07058;
    color: #ffffff;
    padding-top: 7px;
}

.dropdown.current:hover .dropdown-toggle {
    padding-top: 0;
}


.dropdown-toggle:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.dropdown:hover .dropdown-title {
    display: inline-block;
    vertical-align: sub;
    margin-top: 7px;
}

.dropdown-menu {
    position: absolute;
    width: 143px;
    min-height: 171px;
    top: 33px;
    left: -21px;
    background-color: #f8f7f4;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-menu,
.search-form,
.user-form,
.basket-form {
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-item a,
.dropdown-menu-item:first-child,
.dropdown-menu-link.active{
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.143;
    font-weight: bold;
    color: #323232;
    text-decoration: none;
}

.dropdown-menu-item:first-child {
    width: 143px;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 4px;
    padding-left: 6px;
}

.dropdown-menu-item:first-child a {
    display: inline-block;
    vertical-align: sub;
    margin-left: 14px;
    font-weight: bold;
}

.dropdown-menu-item {
    display: block;
    width: 143px;
    min-height: 28px;
    margin-bottom: 3px;
}

.dropdown-menu-item.hr {
    width: 128px;
    min-height: 2px;
}

.dropdown-menu-item a,
.dropdown-menu-link.active {
    font-weight: normal;
}

.dropdown-menu-link.active{
    color: #ffffff;
}

.dropdown-menu-item.current,
.dropdown-menu-item.current:hover {
    background-color: #d07058;
}

.dropdown-menu-item:hover {
    background-color: #fbded7;
}

.dropdown-menu-item:active,
.dropdown-menu-item:first-child:active {
    background-color: #f6b5a5;
    cursor: pointer;
}

.dropdown-menu-item a:hover {
    cursor: pointer;
}

hr.small-hr {
    width: 128px;
    margin-left: 6px;
    margin-top: -5px;
    margin-bottom: 5px;
}


/*блок поиска и информационный блок*/
.search-block {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 25px;
}

.search-block {
    position: relative;
    margin-left: 332px;
}

.search-img {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/spritesIco.png) no-repeat -162px -2px;
}

.search-form {
    position: absolute;
    width: 341px;
    min-height: 84px;
    left: -309px;
    top: 37px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.search-link:hover + .search-form {
    display: block;
}

.search-link:hover .search-img {
    background: url(../img/spritesIco.png) no-repeat -331px -2px;
}

.search-form .fake-placeholder {
    margin-top: 7px;
    margin-left: -4px;
}

.search-form .input-text {
    width: 311px;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 12px;
}

.search-form .input-text:hover {
    padding-left: 11px;
}

.search-form .input-text:focus {
    padding-left: 10px;
}


/*блок входа и корзины*/
.user {
    position: relative;
    float: right;
    width: 220px;
    height: 90px;
    margin-top: 2px;
}

.user-enter,
.user-basket {
    display: inline;
    margin-top: 24px;
    margin-left: 2px;
}

.user-enter {
    float: left;
}

.user-basket {
    float: right;
}

.user-basket .btn-transp {
    width: 115px;
}

.enter-title,
.enter-basket {
    font-size: 14px;
    line-height: 1.143;
    color: #ffffff;
}

.enter-title {
    float: right;
    margin-right: 17px;
    padding-top: 8px;
}

.ico-enter {
    display: block;
    width: 21px;
    height: 20px;
    float: left;
    margin-left: 16px;
    margin-top: 6px;
    background: url(../img/spritesIco.png) no-repeat -88px -10px;
}

.ico {
    display: block;
    width: 21px;
    height: 20px;
    float: left;
    margin-left: 15px;
    margin-top: 6px;
}

.ico-empty-basket {
    background: url(../img/spritesIco.png) no-repeat -47px -10px;
}

.ico-full-basket {
    background: url(../img/spritesIco.png) no-repeat -257px -10px;
}

.full-basket a {
    background-color: rgba(248, 247, 244, 1);
}

.full-basket span{
    color: #323232;
    margin-right: 10px;
}


.full-basket:hover .basket-form {
    position: absolute;
    display: block;
}

.full-basket .btn-transp::after {
    position: absolute;
    bottom: 25px;
    right: 0;
    display: block;
    content: '';
    width: 115px;
    height: 10px;
}

.basket-form {
    top: 60px;
    left: -318px;
    width: 540px;
    min-height: 242px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.purchase-menu {
    width: 500px;
    min-height: 107px;
    margin: 0 auto;
    margin-top: 23px;
}

.purchase-item {
    position: relative;
    min-height: 52px;
    font-size: 13px;
    line-height: 1.231;
    font-weight: lighter;
    color: #323232;
}

.purchase-close.close-ico {
    position: absolute;
    display: block;
    left: -10px;
    top: 4px;
    width: 17px;
    height: 17px;
    background-image: url('../img/spritesIco.png');
    background-repeat: no-repeat;
    background-position: -2px -3px;
    background-size: 345px auto;
}

.purchase-img {
    margin-top: -2px;
    margin-left: 21px;
    border-radius: 50%;
}

.purchase-title {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 6px;
    width: 225px;
}

.purchase-cost {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin-left: 8px;
    margin-top: 6px;
}

.purchase-item b {
    color: #999999;
}

span.purchase-sum {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 60px;
    margin-top: 6px;
    margin-right: 4px;
}

hr {
    width: 510px;
    height: 1px;
    margin-left: 15px;
    border: none;
    background-color: #cacac7;
}

.basket-sum {
    float: right;
    margin-top: 14px;
    margin-right: 18px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 900;
    color: #333333;
}

.basket-form .btn-primary {
    position: absolute;
    width: 172px;
    bottom: 20px;
    right: 15px;
    padding-bottom: 10px;
}

.enter-basket {
    display: inline-block;
    vertical-align: sub;
    margin-right: 26px;
}

.user-form {
    position: absolute;
    width: 277px;
    min-height: 214px;
    left: -181px;
    top: 60px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.enter-link:hover + .user-form {
    display: block;
}

.user-form .input-text {
    width: 241px;
    margin-top: 20px;
    margin-left: 19px;
    padding-left: 12px;

}

.user-form .input-text:hover,
.user-form .input-text:focus {
    padding-left: 11px;
}

.user-form .fake-email {
    top: 6px;
}

.fake-password {
    top: 20px;
}

.fake-password {
    top: 70px;
}

.user-form .btn-primary {
    position: absolute;
    bottom: 22px;
    left: 19px;
    padding-bottom: 4px;
    width: 100px;
}

.enter-link::after {
    position: absolute;
    bottom: 25px;
    left: 5px;
    display: block;
    content: '';
    width: 90px;
    height: 10px;
}

a.btn-transp:hover {
    background-color: rgba(248, 247, 244, 1);
}

a.btn-transp:hover span {
    color: #323232;
}

a.btn-transp:hover .ico-enter {
    background: url(../img/spritesIco.png) no-repeat -298px -10px;
}

a.btn-transp:hover .ico-empty-basket {
    background: url(../img/spritesIco.png) no-repeat -128px -10px;
}

.user-time,
.user-phone {
    font-weight: 900;
}

.user-time {
    display: inline-block;
    vertical-align: baseline;
    width: 160px;
    margin-top: 18px;
    margin-left: 70px;
    font-size: 14px;
    line-height: 1.143;
    color: #ffffff;
}

.user-phone {
    display: inline-block;
    vertical-align: baseline;
    width: 171px;
    margin-top: 2px;
    margin-left: 51px;
    font-size: 22px;
    line-height: 1.091;
    color: #ffffff;
    text-decoration: none;
}


/*хлебные крошки*/
.breadcrumbs {
    display: block;
    width: 335px;
    min-height: 18px;
    float: left;
    margin-top: 35px;
    margin-left: -153px;
}

.breadcrumbs-menu-item {
    display: inline;
    width: 80px;
    margin-right: 3px;
}

.breadcrumbs-menu-item a, .breadcrumbs-menu-item span {
    font-size: 14px;
    line-height: 1.143;
    color: #ffffff;
    font-weight: lighter;
}

.divider {
    margin-left: 4px;
}


/*слайдер*/
.slider {
    min-height: 530px;
}

/*дефолтный слайд*/
.first-item .top,
.first-item .bot {
    position: absolute;
    width: 680px;
    min-height: 110px;
}

.first-item .top {
    top: 275px;
    left: 233px;
}

.first-item .bot {
    top: 335px;
    left: 232px;
}

/*второй слайд*/
.second-item .top {
    position: absolute;
    width: 680px;
    height: 110px;
}

.second-item .bot {
    position: absolute;
    width: 680px;
    height: 110px;
}

.second-item .top {
    top: 275px;
    left: 233px;
}

.second-item .bot {
    top: 335px;
    left: 233px;
}

/*третий слайд*/
.third-item .top {
    position: absolute;
    width: 680px;
    height: 110px;
}

.third-item .bot {
    position: absolute;
    width: 680px;
    height: 110px;
}

.third-item .top {
    top: 275px;
    left: 230px;
}

.third-item .bot {
    top: 335px;
    left: 231px;
}

/*кнопки слайдера*/
.btn-large {
    position: absolute;
    width: 280px;
    height: 64px;
    top: 426px;
    left: 433px;
    border-radius: 32px;
    font-size: 32px;
    line-height: 1.375;
    text-shadow: 0 2px 5px #a0200b;
}

.btn-large:hover {
    background: -webkit-linear-gradient(top, #f58569, #ec6f5e);
    background: linear-gradient(to bottom, #f58569, #ec6f5e);
    box-shadow: 0 2px 2px #ac1000;
}

.btn-large:active {
    background: -webkit-linear-gradient(top, #d84732, #e1613e);
    background: linear-gradient(to bottom, #d84732, #e1613e);
    box-shadow: inset 0 2px 2px #942718;
}

/*переделанная реализация слайдера из лекций*/
body > input[type="radio"] {
    display: none;
}

.site-wrapper {
    width: 100%;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after,
.main-content:after {
    content: "";
    visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
    background-image: url("../img/icecream1.png");
}

.site-wrapper:after {
    background-image: url("../img/icecream2.png");
}

.site-wrapper.back-default {
    background-color: #87a193;
}

.main-content:after {
    background-image: url("../img/icecream3.png");
}

.slider {
    position: relative;
    padding-top: 270px;
    text-align: center;
    color: #ffffff;
}

.slide {
    display: none;
}

.first-item .h1 {
    width: 675px;
    height: 105px;
    margin-left: 234px;
    margin-top: 5px;
}

.second-item .h1 {
    width: 647px;
    height: 120px;
    margin-left: 249px;
    margin-top: 5px;
}

.third-item .h1 {
    width: 644px;
    height: 120px;
    margin-left: 248px;
    margin-top: 5px;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 10;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.btn-first:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/icecream1.png");
}

.btn-second:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/icecream2.png");
}

.btn-third:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/icecream3.png");
}


.btn-first:checked ~ .site-wrapper .first-item,
.btn-second:checked ~ .site-wrapper .second-item,
.btn-third:checked ~ .site-wrapper .third-item {
    display: block;
}

.btn-first:checked ~ .site-wrapper .first-label,
.btn-second:checked ~ .site-wrapper .second-label,
.btn-third:checked ~ .site-wrapper .third-label {
    background-color: #ffffff;
}


.btn-first:checked ~ .site-wrapper .second-label:hover,
.btn-first:checked ~ .site-wrapper .third-label:hover {
    background-color: #b2c1b7;
}

.btn-second:checked ~ .site-wrapper .first-label:hover,
.btn-second:checked ~ .site-wrapper .third-label:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-third:checked ~ .site-wrapper .first-label:hover,
.btn-third:checked ~ .site-wrapper .second-label:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


/*блоки баннеров*/
.banner-left-block,
.banner-right-block {
    width: 560px;
    min-height: 230px;
    border-radius: 15px;
    position: relative;
}

.banner-left-block {
    float: left;
    background-image: url(../img/raspberries.jpg);
}

.banner-right-block {
    float: right;
    background-image: url(../img/backChoco.jpg);
}

.banner-left-block h2 {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 18px;
}

.banner-right-block h2 {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.banner-left-block p,
.banner-right-block p {
    width: 520px;
    font-size: 18px;
    line-height: 1.222;
    font-weight: 900;
    margin-top: 17px;
}

.banner-left-block p {
    margin-left: 19px;
}

.banner-right-block p {
    margin-left: 20px;
}

.banner-left-block a,
.banner-right-block a {
    width: 164px;
    margin-top: 46px;
    margin-left: 373px;
    padding-top: 10px;
}

.banner-right-block a {
    width: 188px;
    margin-top: 45px;
    margin-left: 352px;
}


/*каталог товаров*/
.product-list {
    min-height: 365px;
    margin-bottom: 36px;
}

.product-list img {
    width: 267px;
    height: 267px;
    border-radius: 50%;
}

.product-list a:hover,
footer a:hover,
.breadcrumbs a:hover {
    color: #ffbc9e;
}

a.btn-primary:hover {
    color: #ffffff;
}

article.product-item {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    width: 267px;
    float: left;
    margin-right: 26.5px;
}

article.product-item:nth-child(4n) {
    margin-right: -14px;
}

img.product-item-img {
    margin-top: 28px;
    border-radius: 50%;
}

img.product-item-img.hit-list {
    margin-top: 39px;
}

.product-item-hitmark {
    position: absolute;
    display: block;
    width: 61px;
    height: 61px;
    background: url(../img/hit.jpg) no-repeat center;
    border-radius: 50%;
    top: 38px;
    z-index: 10;
}

.product-item-price {
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price,
.product-ruble-ico,
.product-weight{
    position: absolute;
}

.product-price {
    top: 237px;
    left: -2px;
    font-size: 45px;
    line-height: 1;
}

.product-price.hit-list {
    top: 247px;
}

.product-ruble-ico {
    display: inline-block;
    vertical-align: baseline;
    width: 32px;
    height: 36px;
    top: 243px;
    left: 79px;
    background: url(../img/ruble.svg) no-repeat center;
}

.product-ruble-ico.hit-list {
    top: 255px;
}

.product-weight {
    top: 241px;
    left: 111px;
}

.product-weight.hit-list {
    top: 253px;
}

/*промоблок*/
.seo-block {
    position: relative;
    min-height: 306px;
    background: url(../img/waffletexture.jpg);
    border-radius: 15px;
    color: #323232;
}

.seo-block h3 {
    max-width: 996px;
    min-height: 60px;
    margin-left: 20px;
    padding-top: 24px;
}

.seo-container {
    width: 1130px;
    min-height: 198px;
    margin-left: 75px;
    margin-top: 22px;
}

p.seo-item {
    display: inline-block;
    vertical-align: baseline;
    width: 485px;
    min-height: 66px;
    margin-bottom: 22px;
    margin-right: 78px;
    text-align: left;
}

p.ice-ico::before {
    content: url(../img/seoice.svg);
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    margin-top: -12px;
    margin-left: -54px;

}

p.leaf-ico::before {
    content: url(../img/seolist.svg);
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    margin-top: -12px;
    margin-left: -54px;
}

p.cow-ico::before {
    content: url(../img/seocow.svg);
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    margin-top: -12px;
    margin-left: -54px;
}

p.therm-ico::before {
    content: url(../img/seotherm.svg);
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    margin-top: -12px;
    margin-left: -54px;
}


/*новостной блок*/
.news-block {
    min-height: 220px;
    margin-top: 40px;
}

.news-block-left,
.news-block-right {
    width: 560px;
    min-height: 220px;
    border-radius: 15px;
    position: relative;
}

.news-block-left {
    float: left;
    background-image: url(../img/backice.jpg);
    color: #323232;
}

.news-block-left p {
    padding-top: 23px;
    margin-left: 19px;
}

.news-block-left .h4 {
    margin-left: 20px;
    margin-top: 4px;
    text-align: left;
    text-transform: lowercase;
}

.news-block-left a {
    font-size: 24px;
    line-height: 1.25;
    color: #323232;
}

.news-block-left a:hover {
    color: #e84d37;
}

.news-block-right {
    float: right;
    background-color: #f8f7f4;
    background-image: url(../img/backborder.png);
    color: #5a5a5a;
}

.news-substrate {
    width: 550px;
    min-height: 210px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #f8f7f4;
    border-radius: 15px;
}

.news-substrate p {
    width: 509px;
    padding-top: 29px;
    margin-left: 21px;
}

.subscribe-form .btn {
    width: 129px;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    padding-top: 0;
    border: 0;
    cursor: pointer;
}

.subscribe-form .fake-placeholder {
    margin-top: 22px;
    margin-left: 11px;
}

/*блок карты*/
.map-block {
    position: relative;
    width: 100%;
    height: 430px;
    margin-top: 39px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../img/map.jpg')
}

.adress-block {
    position: absolute;
    top: 63px;
    right: 0;
    margin-right: 27px;
    width: 302px;
    min-height: 305px;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.428;
    color: #323232;
}

.adress-block .btn-primary {
    width: 250px;
    margin-top: 24px;
    margin-left: 27px;
    border: 0;
    padding-top: 11px;
}

.adress-container {
    width: 250px;
    margin-top: 29px;
    margin-left: 26px;
}

p strong {
    font-weight: 900;
}

strong a {
    color: #323232;
    text-decoration: blink;
}

p.adress-general {
    margin-top: 4px;
    font-size: 18px;
    line-height: 1.333;
    font-weight: 600;
}

.adress-phone {
    margin-top: 19px;
}

.adress-phone strong {
    display: block;
    padding-top: 7px;
    margin-bottom: -16px;
    font-size: 18px;
    line-height: 1.222;
}


/*popup-форма фидбека*/
.popup-form {
    position: fixed;
    width: 477px;
    min-height: 442px;
    top: 175px;
    left: 37.6%;
    z-index: 20;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: #323232;
}

.back-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-feedback-form b {
    display: block;
    margin-top: 16px;
    margin-left: 23px;
    font-size: 24px;
    line-height: 1.167;
    font-weight: 500;
}

.popup-feedback-form .input-text {
    width: 268px;
    margin-left: 23px;
    margin-top: 19px;
}

.input-area.input-text {
    width: 428px;
    height: 155px;
    margin-top: 21px;
    margin-left: 23px;
    border-radius: 5px;
    padding-left: 13px;
    padding-top: 9px;
    outline: #ffffff;
}

.input-area.input-text {
    border: 1px solid #c7c6c5;
}

.popup-feedback-form .btn-primary {
    width: 140px;
    margin-top: 18px;
    margin-left: 313px;
    padding-bottom: 10px;
}

.popup-feedback-form .fake-placeholder {
    left: 38px;
}

.popup-feedback-form input[type="email"] {
    padding-top: 3px;
}

.fake-name {
    top: 50px;
}

.fake-email {
    top: 113px;
}

.fake-feedback {
    top: 178px;
}

.close-ico {
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    top: 15px;
    right: 16px;
    background: url('../img/spritesIco.png') no-repeat -10px -10px;
}

@-webkit-keyframes bounce {
    0%   {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70%  {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90%  {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%   {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70%  {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90%  {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.popup-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}


/*футер*/
.main-footer {
    position: relative;
    min-height: 100px;
}

.main-footer-social,
.social-menu,
.menu-footer-dev {
    width: 267px;
    float: left;
    margin-top: 15px;
}

/*социалки*/
ul.social-menu li {
    display: inline-block;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    margin-right: 6px;
    border: 4px solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}

.social-item a {
    vertical-align: baseline;
    display: block;
    width: 31px;
    height: 31px;
    opacity: 0.8;
    border-radius: 50%;
}

.social-item:hover {
    border-color: rgba(255, 255, 255, 0.71);
}

.social-item:hover a {
    opacity: 1;
}

.link-twitter {
    background: url('../img/twitter.svg') no-repeat;
}

.link-instagram {
    background: url('../img/spritesIco.png') no-repeat -410px -10px;
}

.link-facebook {
    background: url('../img/spritesIco.png') no-repeat -206px -10px;
}

.link-vkontakte {
    background: url('../img/spritesIco.png') no-repeat -489px -10px;
}

.link-twitter:active,
.link-instagram:active,
.link-facebook:active,
.link-vkontakte:active {
    box-shadow: inset 0 1px 2px #888888;
}

/*поставщики*/
.main-footer-nav, .main-footer-nav ul {
    width: 419px;
    min-height: 70px;
    padding-top: 13px;
}

.main-footer-nav {
    margin-left: 265px;
}

.main-footer-menu {
    margin-left: 157px;
}

.footer-menu-item {
    display: inline-block;
    width: 142px;
    height: 21px;
    float: left;
}

.footer-menu-item a {
    font-size: 13px;
    line-height: 1.385;
    color: #ffffff;
    font-weight: lighter;
}

a.heart-ico {
    font-weight: bolder;
}

.footer-menu-item:last-child {
    width: 163px;
}

.heart-ico:before {
    content: '';
    display: block;
    float: left;
    background-image: url('../img/spritesIco.png');
    background-repeat: no-repeat;
    background-position: -375px -10px;
    width: 15px;
    height: 13px;
    margin-top: 5px;
    margin-left: -22px;
}

/*меню  хтмл-академии*/
.main-footer-dev {
    float: right;
    margin-top: -70px;
    margin-right: 0px;
}

.sub-logo {
    text-decoration: none;
}

.main-footer-dev,
.sub-contacts {
    font-size: 12px;
    line-height: 1.5;
    font-weight: lighter;
    color: #ffffff;
}


/*контент каталога*/
/*заголовок*/
h1.catalog-page {
    font-weight: bold;
    margin-top: 2px;
    margin-left: -1px;
}

/*форма*/
.filter-block {
    min-height: 170px;
    margin-bottom: -26px;
    margin-top: 27px;
}

/*товары каталога*/
.product-list.catalog-page {
    position: relative;
    min-height: 365px;
    margin-bottom: 127px;
}

.product-item.catalog-page {
    position: relative;
    margin-bottom: -43px;
    height: 405px;
}

.catalog-page .btn-md {
    position: absolute;
    display: none;
    width: 202px;
    top: 361px;
    left: 32px;
    padding-top: 10px;
    z-index: 5;
}

.hover-block {
    position: absolute;
    width: 278px;
    min-height: 405px;
    top: 22px;
    left: -5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    z-index: 1;
}

.product-item.catalog-page:hover .btn-md,
.product-item.catalog-page:hover .hover-block {
    display: block;
}

.product-item.catalog-page:hover .product-title {
    text-decoration: none;
    cursor: pointer;
}

/*ховер каталога*/
.product-item.catalog-page:hover .product-item.catalog-page {
    position: relative;
    width: 278px;
    min-height: 405px;
    margin-top: 33px;
    margin-left: -9px;
    margin-bottom: -76px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    z-index: 2;
}

.product-item.catalog-page:hover .product-item-img {
    position: absolute;
    margin-top: 28px;
    z-index: 2;
}

.product-item.catalog-page:hover .product-price {
    top: 237px;
    z-index: 2;
}

.product-item.catalog-page:hover .product-ruble-ico {
    top: 243px;
    z-index: 2;
}

.product-item.catalog-page:hover .product-weight {
    top: 241px;
    z-index: 2;
}

.product-item.catalog-page:hover .product-title {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 258px;
    top: 301px;
    left: 4px;
    z-index: 2;
}

.product-item.catalog-page:hover ~ .btn-md {
    top: 343px;
    left: 31px;
}

hr.big-hr {
    margin: 0;
    width: 100%;
}

.main-footer.catalog-page {
    position: relative;
    margin-top: 5px;
    min-height: 100px;
}

/*пагинация*/
.pagination {
    position: absolute;
    width: 211px;
    height: 30px;
    bottom: -101px;
    right: -21px;
    color: #ffffff;
    font-size: 16px;
}

.pagin-item:first-child {
    width: 13px;
    margin-right: 14px;
}

.pagin-item {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    margin-right: 2px;
    float: left;
    border-radius: 50%;
}

.pagin-item span,
.pagin-item a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.125;
    text-decoration: none;
    padding-left: 8px;
    margin-top: 4px;
}

.pagin-item:first-child span {
    padding-left: 7px;
}

.pagin-item.active {
    background-color: #ffffff;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: -3px;
}

.pagin-item.active span,
.pagin-item.active a {
    display: block;
    color: #323232;
    padding-left: 9px;
    margin-top: 4px;
}

.pagin-item:last-child {
    margin-left: 5px;
}

.right-arrow,
.left-arrow {
    display: block;
    background-image: url('../img/spritesIco.png');
    background-repeat: no-repeat;
    background-position: -461px -10px;
    width: 8px;
    height: 14px;
    margin-top: 3px;
    margin-left: 2px;
}

.left-arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.2;
}

.left-arrow.active,
.right-arrow.active {
    background-color: inherit;
}

.pagin-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.pagin-item:hover span,
.pagin-item:hover a {
    color: #ffffff;
}

.pagin-item:last-child:hover,
.pagin-item:first-child:hover {
    background-color: rgba(255, 255, 255, 0);
}

.pagin-item.active:hover {
    background-color: #ffffff;
    cursor: default;
}

.pagin-item.active:hover span,
.pagin-item.active:hover a {
    color: #323232;
}

.pagin-item:active {
    background-color: rgba(255, 255, 255, 1);
}

.pagin-item:first-child:active,
.pagin-item:last-child:active {
    background-color: rgba(255, 255, 255, 0);
}

.pagin-item:active span,
.pagin-item:active a,
.pagin-item:first-child:active span,
.pagin-item:first-child:active a,
.pagin-item:last-child:active span,
.pagin-item:last-child:active a {
    color: #323232;
}

/*блок фильтров из каталога*/
.filter-form {
    width: 880px;
    min-height: 140px;
}

.filter-group {
    width: 180px;
    height: 70px;
    float: left;
}

.filter-form fieldset {
    border: none;
}

.filter-group-content {
    position: relative;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

/*сортировка*/
.sort-item {
    width: 201px;
}

.filter-form legend {
    padding-left: 4px;
    font-size: 14px;
    line-height: 1.143;
}

.group-content-sort {
    position: relative;
    width: 193px;
    height: 36px;
    margin-left: -12px;
    padding-left: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    background-image: url(../img/markDownWhite.png);
    background-position: 169px center;
    background-repeat: no-repeat;
}

.group-content-sort {
    border: none;
    border-radius: 20px;
}

.group-content-sort::-ms-expand {
    display: none;
}

.group-content-sort:hover {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
    cursor: pointer;
    background-image: url(../img/markDownBlack.png);
  
}

.group-content-sort:active {
    border-color: transparent;
}

.group-content-sort:focus {
    outline: none;
}

/*диапазон цен */
.range-item {
    width: 236px;
    margin-left: -6px;
}

.range-item .filter-group-content {
    position: relative;
    width: 216px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.range-item legend {
    padding-left: 14px;
}

.range-controls {
    position: absolute;
    margin-top: 17px;
}

.range-controls .scale {
    width: 188px;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
    margin-left: 15px;
}

.range-controls .bar {
    width: 118px;
    height: 4px;
    background: #ffffff;
    margin-left: 19px;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    border: 10px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle:hover {
    width: 22px;
    height: 22px;
}
.range-toggle-min {
    left: 34px;
}

.range-toggle-max {
    left: 132px;
}

/*выбор жирности*/
.fatness-item {
    width: 427px;
}

.fatness-item .filter-group-content {
    width: 414px;
    margin-left: -7px;
}

.fatness-item legend {
    padding-left: 8px;
}

.radio-item {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-right: 9.5px;
    float: left;
}

.radio {
    display: inline-block;
    vertical-align: sub;
    padding-top: 8px;
    margin-left: 16px;
}

.radio-item:hover,
.radio:hover .radio-item {
    cursor: pointer;
    border: 2px solid #ffffff;

}

.radio:hover {
    cursor: pointer;
}

.radio-item:hover .inner-radio,
.radio:hover .inner-radio {
    margin-top: 3px;
    margin-left: 3px;
}

.inner-radio {
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #ffffff;
    border-radius: 50%;
}


/*тройная вложенность из-за сложной формы*/
input[type="radio"]:checked + .radio span {
    display: block;
}

input[type="radio"]:disabled + .radio,
input[type="radio"]:disabled + .radio > span {
    opacity: 0.4;
    cursor: default;
}

/*наполнители*/
.filler-item {
    margin-top: 4px;
    margin-left: -9px;
}

.filler-item .filter-group-content {
    width: 702px;
}

.filler-item legend {
    padding-left: 14px;
}

.checkbox-item {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-right: 14px;
    float: left;
}

.checkbox {
    display: inline-block;
    vertical-align: sub;
    padding-top: 8px;
    margin-left: 15px;
}

.checkbox-item:hover,
.checkbox:hover .checkbox-item {
    cursor: pointer;
    border: 2px solid #ffffff;

}

.checkbox:hover {
    cursor: pointer;
}

.checkbox-item:hover .inner-checkbox,
.checkbox:hover .inner-checkbox {
    margin-top: 3px;
    margin-left: 2px;
}

.inner-checkbox {
    width: 12px;
    height: 10px;
    margin-top: 4px;
    margin-left: 3px;
    background-image: url(../img/whiteOk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

input[type="checkbox"]:checked + .checkbox span {
    display: block;
}

input[type="checkbox"]:disabled + .checkbox,
input[type="checkbox"]:disabled + .checkbox > span {
    opacity: 0.4;
    cursor: default;
}

input[type="checkbox"]:disabled:hover + .checkbox .checkbox-item {
    border: 1px solid #ffffff;
    cursor: default;
}

input[type="checkbox"]:disabled + .checkbox:hover span{
    margin-top: 4px;
    margin-left: 3px;
}

/*кнопка применить*/
.btn-bordered {
    width: 143px;
    height: 34px;
    float: right;
    margin-right: 20px;
    margin-top: 27px;
    border: 2px solid #ffffff;
}

.btn-bordered {
    text-decoration: none;
    color: #ffffff;
}

.btn-bordered:hover {
    background-color: #ffffff;
}

.btn-bordered:hover {
    color: #323232;
    cursor: pointer;
}

.btn-bordered:active {
    box-shadow: inset 0 1px 2px #696969;
}

/*блокировка форм при наведении*/
.dropdown-menu:hover,
.search-form:hover,
.user-form:hover,
.basket-form:hover {
    display: block;
}

/*айфрейм карта*/
.map-block-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.map {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}

.map iframe {
	min-width: 100%;
}

